*{
    padding: 0;
    margin: 10px;
    border-radius: 12px;
    background-color: burlywood;
    /* opacity: 0.3; */
    font-size: large;
    /* display: flex; */
    font-family: 'Baloo Bhai 2', cursive;


}
.top{
    /* margin: auto;
    padding: 0px; */
    text-align: right;
  position: relative;
    border-radius: 50%;

}
